<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum incidunt
    voluptatibus mollitia vel atque quos tempora dolor explicabo consequatur
    odio laudantium saepe nobis repudiandae, itaque repellendus dolorem
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote_author">John Smith</h3>
        <p class="quote_organization">abc company</p>
      </div>
    </div>
  </footer>
</blockquote>
